.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: rgba(0, 0, 0, 0.14);
}

.header h1 {
  font-size: 16px;
}

.nav a {
  color: blue;
  margin: 0 8px;
  font-size: 14px;
}